.sectionBoxAA{
height: auto!important;
}

.sectionBoxAB{
  height: auto!important;
}
.About2__right{
  height: auto!important;
}
.About2__left{
  height: auto!important;
}

//

.planning{
  margin-top: 20px;
}
.planing__grid{
  // margin: 0px 20px 0px 0px!important;
}
.SectionBoxB{
  margin: 0px !important;
}
#ehomes__rendering{
  margin: 0px !important;
}
.milkkandy__box{
  padding: 50px;
  margin: 0px !important;
}
.milkkandy__box2{
  padding: 40px;
  margin: 0px !important;
}
.sectionboxG__grid__up{
  display: block!important;
}

.donnaler{
  padding: 50px 50px;
}

.milkkandy__box__form{
  margin: 20px 0px!important;
}
.interviews__question__answers{
  line-height: 1.5!important;
}
.milkkandy__box__service{
  display: block!important;
  width: 100%;
  // margin-right: 20px;
}

.swiper-slide{
  margin: 20px;
}