.TopContents__navi{
    height: 10vh;
    z-index: 155;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    // background-color: rgba(0,0,0,1);
    position: fixed;

    // background-color: black;

    @include mq-down(lg){
      background-color: black;
      // position: static;
      // background-color: black;
    }

  &__left{
    width: 200px;
    display: flex;
    // justify-content: center;
    align-items: center;
    margin: 0px 20px;

    .image__logo{
      
      

    @include mq-down(lg){
      // position: static;
      // background-color: black;
      display: block!important;
    }
    
    }

    .image__logo2{
      

      @include mq-down(lg){
        // position: static;
        // background-color: black;
        display: none!important;
      }
      
      }


    img{
      width: 200px;
      display: block;
      @include mq-down(md){
        width: 150px;
        // background-color: black;
      }
    }
  }

  &__right{
    width: 70vw;
    display: flex;
    @include mq-up(lg) {
    margin-right: 20px;
    }
    @include mq-down(lg) {
      justify-content: flex-end;
    }
    

    .right_1000__up{
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      // width: 70vw;
      width: 100%;
      height: 10vh;
      color: #fff;

      @include mq-down(lg) {
        display: none;
      }

      li{
        a{
          display: block;
          text-decoration: none;
          color:#fff;
          position: relative;
          line-height: 1.4;

          .aahomes__menus{
            font-size: 0.8rem;
          }
        }

        a:after {
          width: 100%;
          height: 0;
          background: #fff;
          content: '';
          position: absolute;
          top: 75%;
          left: 0;
          opacity: 0;
          transition: all 0.3s ease-out;
          margin: auto;
          margin-top: 10px;
        }
        a:hover{
          opacity: 0.9;
        }
        a:hover:after {
          
          opacity: 1;
          top: 100%;
          height: 2px;
        }
        .active__navi{
          text-decoration: none;
          // color:#fff;
          position: relative;
        }

        .active__navi:after{
          width: 100%;
          height: 0;
          background: #000;
          content: '';
          position: absolute;
          top: 75%;
          left: 0;
          opacity: 0;
          transition: all 0.3s ease-out;
          margin: auto;
          margin-top: 10px;
        }
        .active__navi:hover:after {
          
          opacity: 1;
          top: 100%;
          height: 2px;
        }
        







      }
    }

    .right_1000__up2{
      display: none;
      @include mq-up(lg) {
      justify-content: center;
      display: flex;
      flex-flow: column;

      height: 10vh;
      }
      
      a{

    border-radius: 10px;
    display: block;
    justify-content: center;
    width: 100px;
    line-height: 1.4;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 5px;
    background-color: turquoise;
      }
      a:hover{
        color:#fff;
        opacity: 0.8;
      }
    }
    .TopContents__navi__smafo{
      @include mq-up(lg) {
        display: none;
      }
      .TopContents__navi__smafo__icon{
        display: none;
        height: 10vh;
        width: 10vh;
        // display: flex;
        justify-content: center;
        color: wheat;
        align-items: center;
        .fa-align-justify{
          width: 5vh;
          height: 5vh;
          color: #fff;
        }

      }

      .TopContents__navi__smafo__icon2{
        display: none;
        height: 10vh;
        width: 10vh;
        // display: flex;
        justify-content: center;
        color: wheat;
        align-items: center;
        #align-justigy-icon2{
          width: 5vh;
          height: 5vh;
          color: #fff;
          
        }

      }

      .mytoggle{
        display: flex!important;
      }

      // ul{
      //   width: 100vw;
      //   position: fixed;
      //   // display:none;
      //   @include mq-up(lg) {
      //     display: none;
      //   }
        

      // }
    }
  }
  .right_1000__down{
    display: none;
    height: 90vh;
    margin-top: 10vh;
    width: 100vw;
    position: fixed;
    // display:none;
    @include mq-up(lg) {
      display: none;
    }

    #right__lists__navi__0,#right__lists__navi__2,#right__lists__navi__4,#right__lists__navi__6{
      text-align: left;
      padding: 20px;
      font-size: 1.3rem;
      background: rgba(51,51,51,0.7);
      // background-color: #333;

      a{
        display: block;
        text-decoration: none;
        color:#fff;
      }
    }
    #right__lists__navi__1,#right__lists__navi__3,#right__lists__navi__5{
      text-align: left;
      padding: 20px;
      font-size: 1.3rem;
      background: rgba(34,34,34,0.7);
      // background-color: #222;

      a{
        display: block;
        color:#fff;
        text-decoration: none;
      }

    }

  }



}

.Scrollebutton
  {
    position: fixed;
    bottom: 0;
    right: 20px;
    padding: 10px;
    opacity: 0.7;
    background-color: black;
  }

  //
  .New__grid2{
    height: 100%;
    overflow-y: scroll;
  }

  //

  #header__down{
    display: none;
    position: fixed;
    top: 10vh;
    color: black;
    z-index: 140;
    background-color: rgba(255, 255, 255, 0.74);
    width: 100%;
    /* padding: 20px; */
    font-size: 1.1rem;
    // color: white;
    box-sizing: border-box;
    height: 4vh;
    text-align: right;
    line-height: 4vh;
  }

  #alert-message{
    display: none;

    position: fixed;
    top: 10vh;
    color: black;
    z-index: 140;
    height: 4vh;
    line-height: 4vh;
    background-color: rgba(0, 191, 255, 0.6);
    width: 100%;
    // padding: 20px;
    font-size: 1.1rem;
    color: white;
  }


  .alert-success{

    position: fixed;
    top: 10vh;
    color: black;
    z-index: 140;
    height: 4vh;
    line-height: 4vh;
    background-color: rgba(0, 191, 255, 0.6);
    width: 100%;
    // padding: 20px;
    font-size: 1.1rem;
    color: white;
  }

  //
  .header__down__adress{
    margin-right: 20px;
  }

  .pagination{
    position: absolute;
    bottom: -5vh;
    /* text-align: center; */
    right: 20px;
  }
  .arminarlert{
  display: block;
    height: 100%;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  .arminarlert:hover{
    opacity: 0.6;
  }
  .News__contents__lists__cover{
    display: none;

  }

  .ContactUs__grid2{
    nav{
      position: inherit;

    }
  }

  #ihomes__rendering{
    // margin-bottom: 10vh;
    padding: 50px 50px 0px 50px;
  }

  .image__logo2{
    display: none;
  }

  //変更
  .TopContents__navi{
    // background-color: black;

    .image__logo{
      display: block!important;
    }
    .image__logo2{
      display: none!important;
    }
    .right_1000__up{
      a{
        color: white!important;
      }
      a::after{
        margin-top: 5px!important;
        background: #fff!important;
      }

    }
  }
  #ihomes__rendering{
    // padding-top: 20px;
  }

  #aa{
    // min-height: 90vh !important;
    // margin-top: 3vh !important;
    // padding: 50px;
    padding-bottom: 0px;
    #bbc{
      margin-top: 0px!important;
    }
  }
  .SectionBoxA{
    padding: 50px;
  }
  .services {
    line-height: 1.5;
  }
  .donnaler{
    // padding: 20px 0px;
    box-sizing: border-box;
  }

  #ac{
    // min-height: 90vh !important;
  }

  .SectionBoxA{
    // height: auto!important;
  }

  #ehomes__rendering{
    // display: block!important;
    .services{
      margin-top: 0px!important;
    }
  }

  #ad{
    // display: flex!important;
    // justify-content: center!important;
    // align-items: center!important;
    // min-height: 90vh!important;
    // width: 100vw!important;
    #interviews__rendering{
      margin: 0!important;
      width: 100%;
      .interviews{
        width: 100%;
      }
    }
  }

  .sectionboxG__grid__up{
    padding:0px !important;
  }

  #ab{
    height: 90vh;

    @include mq-down(lg) {
      height: auto;
      }


    .About__left__title{
      margin: 0px 0px 0px 0px!important;
    }

    .About__left__title::after{
      width: 100%!important;
    }

    .About__left{
      display: flex;
      opacity: 1;
      justify-content: center;
      align-items: flex-start;
      flex-flow: column;
      // margin: 20px  !important;

    }
  }

  .About2__left__box{
    margin: 0px!important;
    
  }
  .About2__left__box__first__title2{
    margin: 20px;
  }
  .About2__left__box__first__discribe2{
    margin: 20px!important;
  }

  #contact__rendering{
    padding: 20px 0 0 0!important;
  }

  .sectionboxN{
    margin-top: 20px!important;

    .News__discribe{
      margin: 30px 0 0 0!important;
    }

    .News__contents{
      margin: 20px 20px 10vh!important;
    }
  }

  .News{
    padding-top: 0px!important;

  }

  .ContactUs__grid{
    padding:0px!important;
  }

  .admin__ContactUs{
    min-height: auto!important;
  }

  .ContactUs__grid2{
    nav{
      background-color: #fff;
    }
  }
  #renderfieldContactUs{
    background-color: black;
  }
  

  .About__left__first__title{
    margin: 10px 0px 10px 0px!important;
  }
  .About__left__first__discribe{
    margin: 10px 0px 0px 0px!important;
  }

  .About2__right{
    margin: 0px!important;
  }

  .About3{
    padding:0px!important;
  }

  .About2__left__box__first__title2{
    margin: 0px 0px 20px 0px !important;
  }
  .About2__left__box__first__discribe2{
    margin: 0px 0px 0px 0px !important;
  }

  
  iframe{
    // width: 100%;
    // height: 100%;
  }

  .movie-wrap {
    position: relative;
    padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
    height: 0;
    overflow: hidden;
}

.movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

  .TopContents__ahomes__edit{
    z-index: 140;
  }
  #ehomes__rendering{
    margin: 20px;
    // padding-bottom: 20px;

  }
  .supless{
    margin-bottom: 20px ;
  }
  

  .planning__price{
    line-height: 1.5;
    font-weight: normal!important;
  }