// .TopContents__container{
//   opacity: 1;
// }

// #bhomes_area--box2b
// {
//   opacity: 1;
// }

// #bhomes_area--box2bb{
//   opacity: 1;
// }
.About__right{

  overflow: hidden;
  width: 100%;
}

#elicse2{
  overflow: hidden;
  width: 100%;
}

#elicse4{
  overflow: hidden;
  width: 100%;
}

.About2{
  overflow: hidden;
}
.About{
  overflow: hidden;
}

//video

.index-video{
  @include mq-down(md){
    display: none;
  }

}