@import "media.scss";
.swiper-pagination-bullet {
	width: 25px!important;
	height: 25px!important;
	background: #ffffff!important;
	opacity: 0.5!important;
	color: #000000!important;
	font-size: 12px!important;
	line-height: 25px!important;
}
/* 現在のスライドのスタイル */
.swiper-pagination-bullet-active {
	background-color: #000000!important;
	color: #ffffff!important;
}


// .swiper-button-next{
//   top:88% !important;
//   right: 35% !important;
// }
// .swiper-button-prev{
//   top:88% !important;
//   left: 35% !important;
// }

//
.swiper-button-next::after{
  display: none;

}
.swiper-button-prev::after{
  display: none;

}

//
.mikan{
  width: 40px!important;
  display: block;
  height: 40px;
}

.swiper-pagination{
  margin: 0 0 20px;
}

//スライド
.sectionboxD{
  min-height: 40vh;
    overflow: scroll;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #fff;
}

.swiper-slide{
  flex-flow: column;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  // margin: 0px 30px;
  width: 692.667px;

  .S__logo{
    background-color: black;
    color: #fff;
    /* padding: 20px; */
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;

  }
  .S__title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;


  }
  .S__discribe{
    color: #777;
    padding: 20px;
    line-height: 1.5;

  }
}

//swiper2
// .swiper-container2 .swiper-wrapper2 {
//   transition-timing-function: linear !important;
// }

.swiper-container{
  padding-bottom: 10vh!important;
}
#bhomes_area--box2bb{
  margin-bottom: 10vh;
}

.swiper-container2{
  // background-color: #222222;
  // height: 15vh;
  touch-action: pan-y;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  height:100%;
  .swiper-wrapper{
    height:100%;
    .swiper-slide{
      height:100%;
      .sectionboxE{
        height:100%;
      }
    }

  }
}
.swiper-container3{
padding-bottom: 10vh!important;
margin-left: auto;
margin-right: auto;
position: relative;
overflow: hidden;
list-style: none;
padding: 0;
z-index: 1;
height:100%;
}

.sectionboxE{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  // box-shadow: 4.66px 6.428px 19.6px 0.4px;
  margin: 2.5vh 2vw;
  // padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #fff;


  .S2__image{
    height: 25vh;
    // height: 100px;
    // width: 100px;
    video{
      width: 100%;
      height: 25vh;
      object-fit: fill;
    background-size: cover;
    }
    img{
      width: 100%;
      vertical-align: bottom;
      height: 25vh;
      object-fit: cover;
    }
  }

  .sectionboxEA{
    overflow-y: scroll;
        height: 20vh;
        width: 80%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    .S2__company{
      text-align: left;
      margin: 10px;
      // font-size: 1.3rem;
      // font-weight: bold;

    }
    .S2__discribe{
      margin: 10px;
      font-size: 1.0rem;
      /* font-weight: bold; */
      // line-height: 1.2;
      color: #777;
      line-height: 1.5;

    }

  }


}

.swiper-container-free-mode > .swiper-wrapper{-webkit-transition-timing-function:linear!important; -o-transition-timing-function:linear!important; transition-timing-function:linear!important; }




.swiper-button-prev,
.swiper-button-next {
	background-image: none; /* デフォルトのボタン画像を消す */
	width: 28px; /* ボタンの幅 */
	height: 86px; /* ボタンの高さ */
	margin-top: -43px;
  top:40%!important;

  @include mq-down(md){
    display: none!important;
  }


  
   /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}
.swiper-button-prev{
  left: 30px !important;
}
.swiper-button-next{
  right: 30px !important;
}
/* 前ページボタンのスタイル */
.swiper-button-prev:before {
	font-family: "Font Awesome 5 Free";
	content: "\f100"; /* angle-double-leftのUnicode */
  font-weight: 900;
	font-size: 48px;
	color: #222222;
}
/* 次ページボタンのスタイル */
.swiper-button-next:before {
	font-family: "Font Awesome 5 Free";
	content: "\f101"; /* angle-double-rightのUnicode */
	font-size: 48px;
  font-weight: 900;
	color: #222222;
}