.ContactUs__grid
  .ContactUs__title.admin__ContactUs__title
    お問い合わせ履歴
  .ContactUs__discribe.admin__log__discribation 
    -# 最新10件まで表示されます。
.ContactUs__grid2.admin__ContactUs__grid2
  = paginate(inquiries,:param_name => 'confirm_page',remote: true,class:"aaaa")
  .aa
  %table
    %thead
      %tr
        %th.admin__confirm__lists__conpany.admin__confirm__lists
          企業名
      
        %th.admin__confirm__lists__name.admin__confirm__lists
          担当者様名
      
        %th.admin__confirm__lists__email.admin__confirm__lists
          E-mail
      
        %th.admin__confirm__lists__message.admin__confirm__lists
          お問い合わせ内容
    
    %tbody
      
      - inquiries.each do |i|
        %tr
          %th.admin__confirm__lists__conpany
            =i.conpany
          %th.admin__confirm__lists__name
            =i.name
          %th.admin__confirm__lists__email
            =i.email
          %th.admin__confirm__lists__message
            =i.message