.MainContents
  .TopContents
    .TopContents__container
      .TopContents__container__message
        あなたのチームに
        %br
        クリエイターを最短で
      .TopContents__container__message2
        全く新しい "月額制" の受託スタイル
      .TopContents__container__button
        .TopContents__container__button__left
          = link_to "" , class:"homes__button__left" do
            月額プランを見る

        .TopContents__container__button__right
          = link_to "" , class:"homes__button__right" do
            お問い合わせ


      