
.About__left.donnaler
  .About__left__title
    = chomes.title
  .About__left__first__title
    = chomes.title2
  .About__left__first__discribe
    = chomes.discribe

.About__right
  = image_pack_tag "jakob-owens-CiUR8zISX60-unsplash.jpg"